.section-grid {
  padding: 50px 0px;
}

.section-grid > .titulo {
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.section-grid > .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
