* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(244, 244, 244);
  color: black;
}

.contendor-maximo {
  max-width: 1280px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

@media (max-width: 780px) {
  .section-grid > .products-container.desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
